{% extends 'base.html.twig' %}

{% block body %}

    {{ include('myaccount/_menu.html.twig') }}

    <h1>Changer de mot de passe</h1>

    {% for message in app.flashes('changePasswordSuccess') %}
        <p>{{ message }}</p>
    {% endfor %}

    {{ form_start(form) }}
        {{ form_row(form) }}
        <button type="submit">Modifier</button>
    {{ form_end(form) }}

{% endblock %}

