{% extends 'base.html.twig' %}

{% block body %}

    {{ include('myaccount/_menu.html.twig') }}

    <h1>Préférences de notification</h1>

    {% for message in app.flashes('notificationPreferencesSuccess') %}
        <p>{{ message }}</p>
    {% endfor %}

    {% if email.email and email.verified == false %}
        <p>
            Cette adresse e-mail est en attente d'activation.
            Pour cela, nous vous avons expédié un e-mail.
        </p>
    {% endif %}

    {{ form_start(form) }}
        {% for name, child in form.children %}
            {{ form_row(child) }}
            {% if name == 'historyOfVerifiedEmailAddressesKept' %}
                <div>
                    <a href="#"><small>En savoir plus</small></a>
                </div>
            {% endif %}
        {% endfor %}
        <button type="submit">Modifier</button>
    {{ form_end(form) }}

{% endblock %}

