{% extends 'base.html.twig' %}

{% block body %}

    {{ include('myaccount/_menu.html.twig') }}

    <h1>Données personnnelles</h1>

    {% for message in app.flashes('personalDataSuccess') %}
        <p>{{ message }}</p>
    {% endfor %}

    {{ form_start(form) }}
        {{ form_row(form.birthdate) }}
        {% set age = app.user.birthdate.age %}
        {% if age != null %}
            ({{ age }} ans)
        {% endif %}
        <hr>
        {{ form_row(form.gender) }}
        <hr>
        <button type="submit">Enregistrer</button>
    {{ form_end(form) }}

    <p>
        Apprenez dans <a href="#">les textes</a> pourquoi nous vous demandons des informations personnelles
    </p>
{% endblock %}

