{% apply inline_css %}
    <style>
        #form-components {
            display: flex;
            flex-wrap: wrap;
        }
    </style>

    <div id="thing-form" data-thing="{{ thing.id }}">
        <div>
            <label for="thing_name">Nom de la chose</label>
            <input type="text" data-object="thing" data-attr="name" data-event="input" value="{{ thing.name }}">
        </div>

        <hr>

        <div id="form-components" data-fitfor="{{ device }}">
            {% for formComponent in collection.form.formComponents %}
                {% set width = formComponent.size.getFor(device) %}
                {% set position = formComponent.position.getFor(device) %}
                {% set value = getValueByFormComponent[formComponent.id.toString()]|default(null) %}
                <div id="{{ formComponent.id }}" class="form-component {{ value and not value.valid ? 'invalid' : '' }}" style="width:{{ width }}%; order:{{ position }};">
                    {% set type = formComponent.widget.type|replace({'_':'-'}) %}
                    {% include 'widgets/'~type~'.html.twig' with {'formComponent': formComponent, 'widget': formComponent.widget, 'value': value} %}
                    <ul class="thing-errors">

                    </ul>
                </div>
            {% endfor %}
        </div>

        <button id="publish-object" disabled>Publish</button>

        <div id="syncing-loader" class="hidden">
            <p>Sauvegarde en cours ...</p>
        </div>
    </div>
{% endapply %}